:root {
  --p-color: #ff9900;
  --s-color: #173a56;
  --h-color: #2f281e;
  --pp-color: #544837;
}

.section-padding {
  padding: 7rem 0;
}

.over-padding {
  padding: 10rem 0 0 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  color: var(--s-color);
  font-weight: 400;
}

.section-title {
  color: var(--h-color);
  font-size: 3.6rem;
  font-weight: 700;
  padding: 1rem 0 2rem 0;
}

h1 {
  font-size: 4.5rem;
  font-weight: 800;
  color: var(--h-color);
}

.pry-btn {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.6rem;
  display: inline-block;
  padding: 1rem 3rem;
  background: var(--p-color);
  border-radius: 4px;
  border: 2px solid transparent;
  transition: 0.3s linear;
}

.pry-btn:hover {
  color: var(--s-color);
  background: transparent;
  border-color: var(--s-color);
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1.5rem;
}

.header__btn .pry-btn {
  padding: 0.8rem 1.5rem;
  border: 1px solid transparent;
}

.header__btn .pry-btn:hover {
  border-color: var(--s-color);
}

.banner__text-btns {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.banner__text-btns .btns__video {
  color: var(--p-color);
  font-weight: 500;
  transition: 0.2s linear;
}

.banner__text-btns .btns__video:hover {
  color: var(--s-color);
}

@media (max-width: 575.98px) {
  .banner__text-btns {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
  }
}

.header__nav {
  padding: 2rem 0;
  position: relative;
}

.header__nav .row {
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__bars {
  display: none;
  font-size: 2.5rem;
  color: var(--p-color);
  transition: 0.2s linear;
}

.logo__bars:hover {
  color: var(--s-color);
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 3rem;
  justify-content: flex-end;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu ul li a {
  display: inline-block;
  font-weight: 500;
  color: var(--h-color);
  padding: 1rem 1.5rem;
  transition: 0.2s linear;
}

.menu ul li a:hover {
  color: var(--p-color);
}

@media (min-width: 991.98px) {
  .navigation {
    display: flex !important;
  }
}

@media (max-width: 991.98px) {
  .logo__bars {
    display: block;
  }
  .nav-hide {
    display: none;
  }
  .navigation {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 100%;
    right: 0%;
    width: auto;
    background: #fff;
    z-index: 999;
    padding: 2rem 5rem 2rem 0;
    box-shadow: 0 0 15px #eee;
  }
  .navigation .menu ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .navigation .header__btn {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2rem;
  }
}

.banner {
  padding-top: 10rem;
}

.banner .row {
  align-items: center;
  justify-content: space-between;
}

.banner__text p {
  padding: 1rem 0 3rem 0;
}

@media (max-width: 767.98px) {
  .banner .row {
    flex-direction: column;
    row-gap: 4rem;
  }
  .banner__text {
    text-align: center;
  }
  .banner__text-btns {
    justify-content: center;
  }
}

.service {
  position: relative;
}

.service__items {
  padding-top: 5rem;
}

.service__items .curd__icon i {
  height: 5rem;
  width: 5rem;
  border-radius: 15px;
  background: #7652be;
  box-shadow: 5px 5px 25px #7652be;
  text-align: center;
  line-height: 5rem;
  color: #ffffff;
}

.service__items .curd__icon.mobile i {
  background: var(--p-color);
  box-shadow: 5px 10px 25px #ff9900be;
}

.service__items .curd__icon.heart i {
  background: #f03e3d;
  box-shadow: 5px 10px 25px #f03e3dbe;
}

.service__items .curd__icon.hotel i {
  background: #4cadf7;
  box-shadow: 5px 10px 25px #4cadf7be;
}

.service__items .curd__text {
  padding-top: 2rem;
}

.service__items .curd__text h3 {
  font-weight: 700;
  font-size: 1.8rem;
  padding-bottom: 5px;
}

.service__btn {
  padding-top: 4rem;
  text-align: center;
}

.service .bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

@media (max-width: 575.98px) {
  .curd {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
  }
}

.design__text .row {
  align-items: center;
  justify-content: space-between;
}

.design__text-header {
  padding-bottom: 3rem;
}

.design__text-header .desing-small {
  font-size: 1.4rem;
  margin: 0;
}

.design__text-item {
  padding-bottom: 2rem;
}

.design__text-item h4 {
  font-weight: 700;
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.design__text-item p {
  width: 90%;
  text-align: justify;
}

@media (max-width: 767.98px) {
  .design .row {
    flex-direction: column-reverse;
    row-gap: 3rem;
  }
  .desing-2 .row {
    flex-direction: column;
  }
}

.super {
  position: relative;
}

.super__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.super__header {
  padding: 2rem;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.super__header a {
  margin-top: 4rem;
}

@media (max-width: 991.98px) {
  .super__header {
    max-width: 75%;
  }
}

@media (max-width: 767.98px) {
  .super__header {
    max-width: 95%;
  }
  .super__contant {
    display: none;
  }
}

.blog__header {
  padding-bottom: 4rem;
}

.blog .owl-dots button {
  outline: none;
}

.blog .owl-dots button:hover span {
  background: var(--p-color) !important;
}

.blog .owl-dots button.active span {
  background: var(--p-color) !important;
}

.blog .owl-dots button span {
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.blog .owl-dots button span:hover {
  background: var(--p-color) !important;
}

.blog__contant-item .item-text {
  padding: 2rem 0;
}

.blog__contant-item .item-text .blog-title {
  font-size: 2.2rem;
  transition: 0.2s linear;
  color: var(--h-color);
  font-weight: 700;
}

.blog__contant-item .item-text .blog-title:hover {
  color: var(--p-color);
}

.blog__contant-item .item-text .text-author p a {
  color: var(--h-color);
  font-weight: 500;
  transition: 0.2s linear;
}

.blog__contant-item .item-text .text-author p a:hover {
  color: var(--p-color);
}

.footer h3 {
  font-size: 1.8rem;
  color: var(--h-color);
  font-weight: 700;
  padding-bottom: 2rem;
}

.footer__logo a img {
  width: 20rem;
  height: auto;
}

.footer__menu ul {
  padding: 0;
}

.footer__menu ul li a {
  color: var(--s-color);
  font-weight: 500;
  padding: 0.5rem 0;
  display: inline-block;
  transition: 0.2s linear;
}

.footer__menu ul li a:hover {
  color: var(--p-color);
}

.footer__contact input[type="search"] {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--s-color);
  opacity: 0.65;
  border-radius: 4px;
  margin-bottom: 2rem;
}
/*# sourceMappingURL=main.css.map */